<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cms_sdk_sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />
    
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DBMainPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddDatabase"
            android:label="Add Database" >
        </activity>
        <activity
            android:name=".DBOperationsExample"
            android:label="DBOperationsExample" >
        </activity>
        <activity
            android:name=".ViewTables"
            android:label="ViewTables" >
        </activity>
        <activity
            android:name=".AddRow"
            android:label="@string/title_activity_add_row" >
        </activity>
        <activity
            android:name=".Forms"
            android:label="@string/title_activity_forms" >
        </activity>
        
         <!-- SDK Activities -->
        <activity
            android:name="com.ocproducts.composr.sdk.CMS_LoginActivity"
            android:label="@string/title_activity_cms_login" >
        </activity>
        <activity
            android:name="com.ocproducts.composr.sdk.CMS_SignupActivity"
            android:label="@string/title_activity_cms__signup" >
        </activity>
        <activity
            android:name="com.ocproducts.composr.sdk.CMS_PasswordResetActivity"
            android:label="@string/title_activity_cms__password_reset" >
        </activity>
        <activity
            android:name="com.ocproducts.composr.sdk.rss.FeedListActivity"
            android:label="@string/title_activity_feed_list" >
        </activity>
        <activity
            android:name="com.ocproducts.composr.sdk.rss.FeedDetail"
            android:label="@string/title_activity_feed_detail" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        
        </application>

</manifest>
